<div>
    <!--foot of newspaper-->
    <footer class="p-5">
      <div class="row">
        <div class="col d-flex">
          <ul class="list-unstyled m-2">
            <h4>Te puede interesar</h4>
            <hr />
            <li><a class="list-group-item" href="">Acerca de nosotros</a></li>
            <li><a class="list-group-item" href="">Mapa del sitio</a></li>
            <li><a class="list-group-item" href="">Trabaja con nosotros</a></li>
            <li><a class="list-group-item" href="">Centro de atención</a></li>
            <li><a class="list-group-item" href="">Canales</a></li>
            <hr />
          </ul>
          <ul class="list-unstyled m-2">
            <h4>Legales</h4>
            <hr />
            <li><a class="list-group-item" href="">Contactanos</a></li>
            <li><a class="list-group-item" href="">Lugares</a></li>
            <li>
              <a class="list-group-item" href="">Términos y Condiciones de uso</a>
            </li>
            <li><a class="list-group-item" href="">Tarifas Subscripción</a></li>
            <li>
              <a class="list-group-item" href=""
                >Autorización para tratamiento de datos personales</a
              >
            </li>
            <hr />
          </ul>
        </div>
        <div class="col">
          <br />
          <h5><a class="list-group-item" href="">Contáctanos</a></h5>
          <hr />
          <li>
            <a class="list-group-item" href=""
              >Linea de atención: +57-3-255-87-45.</a
            >
          </li>
          <li>
            <a class="list-group-item" href="">Correo: Newspaper@gmail.com</a>
          </li>
          <li>
            <a class="list-group-item" href=""
              >Dirección: cll-4ta #16-22b Centro, Pasto, Colombia</a
            >
          </li>
          <hr />
        </div>
        <div class="col"></div>
      </div>
    </footer>
  </div>
  