<main class="main">
    <div class="divButton"></div>
    <!--right click on header-->
    <button type="button" class="btn btn-primary position-relative">
      News
      <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
        99+
        <span class="visually-hidden">unread messages</span>
      </span>
    </button>
    <!--header buttons-->
      <img class="imgMain" src="" alt="">
      <div class="btn-group" role="group" aria-label="Basic example">
          <button type="button" class="btn btn-primary">Política</button>
          <button type="button" class="btn btn-primary">Ciencia</button>
          <button type="button" class="btn btn-primary">Salud</button>
          <button type="button" class="btn btn-primary">Deportes</button>
          <button type="button" class="btn btn-primary">Arte</button>
          <button type="button" class="btn btn-primary">Mundo</button>
        </div>
  </main>