/*header design*/
.main {
    background-color: #001352;
    width: 100%;
  }
  .btn{
    display: flex;
    justify-content: center;
  }
  .divButton{
    background-color: rgb(255, 255, 255);
    width: 100%;
    padding-bottom: 30px;
    
  
  }
  .btn-group {
    display: flex;
    justify-content: center;
    
  }
  /*right click on header*/
  .btn-primary {
    background-color: rgb(27, 34, 164);
    width: 100px;
  }