<!--seeker-->
<div class="seeker">
    <input class="seekeInput" type="search" placeholder="   Noticia" />
    <input class="seekerButton" type="submit" value=" Buscar " />
  </div>
  <hr />
  
  <!--dropdown-->
  <div class="dropdown">
    <div class="accordion accordion-flush" id="accordionFlushExample">
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseOne"
            aria-expanded="false"
            aria-controls="flush-collapseOne">Para ti
          </button>
        </h2>
        <div
          id="flush-collapseOne"
          class="accordion-collapse collapse"
          data-bs-parent="#accordionFlushExample"
        >
          <div class="accordion-body">
            ¿Qué esperas para suscribirte a nuestro periodio? Solo tienes que
            registrate con una cuenta de correo y si lo deseas, agregar tu número
            de celular, asi cada noticia llegará a tu correo o celular.
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!--Login-->
  <div class="Login">
      <form>
          <div class="">
            <label for="exampleInputEmail1" class="form-label">Inicio Sesión:</label>
            <input type="email" placeholder="Correo" class="form-control" id="exampleInputEmail1"  aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text"></div>
          </div>
          <div class="mb-1">
            <input type="password" placeholder="Contraseña" class="form-control" id="exampleInputPassword1">
          </div>
          <div class="mb-2 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Guardar Contraseña</label>
          </div>
          <button type="submit" class="btn btn-primary">Ingresar</button>
        </form>
  </div>
  
  
  <!--register-->
  <div class="register">
      <div class="accordion" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Registrarse
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                  <form>
                      <div class="mb-3">
                        <input type="email" placeholder="Nombre y Apellido" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                        <div id="emailHelp" class="form-text"></div>
                      </div>
                      <div class="mb-3">
                          <input type="number" placeholder="Celular" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                        </div>
                        <div class="mb-3">
                          <input type="text" placeholder="Correo" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                        </div>
                      <div class="mb-3">
                        <input type="password" placeholder="Contraseña" class="form-control" id="exampleInputPassword1">
                      </div>
                      <button type="submit" class="btn btn-primary">Registrarse</button>
                    </form>
              </div>
            </div>
          </div>
        </div>
  </div>
  <hr>
  
    
