<div class="socialNetwork">
    <!-- social media headlin --> 
    <h6 class="tittleNetwork">Redes Sociales</h6>
    <hr>
    <!--images and social media link-->
    <div class="divYoutube">
        <img class="imgYoutube" src="../../../assets/youtube.png" alt="logo youtube">
        <h6 class="pYoutube">Youtube</h6>
    </div>
    <div class="divFacebook">
        <img class="imgFacebook" src="../../../assets/facebook.png" alt="logo facebook">
        <h6 class="pFacebook">Facebook</h6>
    </div>
    <div class="divTwiter">
        <img class="imgTwiter" src="../../../assets/gorjeo.png" alt="logo Twiter">
        <h6 class="pTwiter">Twiter</h6>
    </div>
    <div class="divInstagram">
        <img class="imgInstagram" src="../../../assets/instagram.png" alt="logo Twiter">
        <h6 class="pInstagram">Instagram</h6>
    </div>
    <div class="divGmail">
        <img class="imgGmail" src="../../../assets/gmail.png" alt="logo Twiter">
        <h6 class="pGmail">Gmail</h6>
    </div>
    <div class="divWhatsapp">
        <img class="imgWhatsapp" src="../../../assets/whatsapp.png" alt="logo Twiter">
        <h6 class="pWhatsapp">Whatsapp</h6>
    </div>
    <div class="divTik-tok">
        <img class="imgTik-tok" src="../../../assets/tik-tok.png" alt="logo Twiter">
        <h6 class="pTik-tok">Tik-tok</h6>
    </div>
</div>

<hr>
