<div>
    <!--tittle initial-->
    <h1 class="tittle-Center">MUNDO</h1>
  <!--carrousel-->
    <div
      id="carouselExampleInterval"
      class="carousel slide"
      data-bs-ride="carousel"
    >
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="2000">
          <img
            src="../../../assets/carrucel-1.png"
            class="d-block w-100"
            alt="messi"
          />
        </div>
        <div class="carousel-item" data-bs-interval="2000">
          <img
            src="../../../assets/carrucel-2.png"
            class="d-block w-100"
            alt="exito"
          />
        </div>
        <div class="carousel-item" data-bs-interval="2000">
          <img
            src="../../../assets/carrucel-3.png"
            class="d-block w-100"
            alt="petro"
          />
        </div>
        <div class="carousel-item" data-bs-interval="2000">
          <img
            src="../../../assets/carrucel-4.png"
            class="d-block w-100"
            alt="putin"
          />
        </div>
        <div class="carousel-item" data-bs-interval="2000">
          <img
            src="../../../assets/carrucel-5.png"
            class="d-block w-100"
            alt="ejercito"
          />
        </div>
        <div class="carousel-item" data-bs-interval="2000">
          <img
            src="../../../assets/carrucel-6.png"
            class="d-block w-100"
            alt="Checo Perez, fórmula uno"
          />
        </div>
      </div>
      <hr>
      <!--carousel paragraph-->
      <h4 class="paragraph-Center">
        Porque nuestra misión es contigo, conoce lo primero en noticias locales y a
        nivel mundial
      </h4>
    </div>
    <hr>
  
    <!--newspeaper-->
  
    <h2 class="tittle-Polit">Política</h2>
    <h5 class="paragraph-Polit">
      ‘El país no sabe hacia dónde va en materia de seguridad’: Fiscal
    </h5>
    <img class="img-Polit" tron src="../../../assets/politica.png" />
    <h6 class="Summary-Polit">
      En los últimos días se ha registrado una ola de inseguridad en todo el país,
      denunciada por la ciudadanía. ¿Qué opina de esto, Fiscal, qué se debe hacer
      a nivel institucional? La política de prevención y seguridad corresponde al
      Gobierno Nacional. Para mí es claro que el país no sabe hacia dónde va en
      esta materia. Lo he señalado muchas veces: la Fiscalía llega una vez los
      delitos se cometen, investiga y ejerce la acción penal. Es decir, tenemos
      solo una pequeña parte, que tampoco podemos hacer solos.
    </h6>
    <hr />
    <h2 class="title-International">Internacional</h2>
    <h5 class="paragraph-International">
      ¿EE. UU. va a regular la inteligencia artificial? Biden habla con gigantes
      tecnológicos
    </h5>
    <img class="img-International" src="../../../assets/internacional.png" alt="" />
    <h6 class="Summary-International">
      "Veremos más cambios tecnológicos en los próximos 10 años o incluso en los
      próximos pocos años de los que hemos visto en los últimos 50 años. Para mí
      ha sido una revelación asombrosa", declaró. "El grupo que está aquí será
      fundamental para guiar esa innovación con responsabilidad y seguridad"
    </h6>
    <hr />
    <h2 class="tittle-Education">Educación</h2>
    <h5 class="paragraph-Education">
      En qué consiste realmente el grado 12º en colegios que propone el Gobierno
    </h5>
    <img class="img-Education" src="../../../assets/educación.png" alt="" />
    <h6 class="Summary-Education">
      Según los expertos, este nuevo grado mejora las condiciones de los jóvenes
      para tomar decisiones al proporcionarles conocimientos y habilidades en
      diversas disciplinas, fomentar el pensamiento crítico, ofrecer orientación
      vocacional, brindar experiencias prácticas y promover la madurez y
      autonomía. Estas oportunidades les permiten comprender mejor el mundo,
      evaluar información, considerar diferentes perspectivas, explorar sus
      intereses profesionales, aplicar conocimientos en situaciones reales y
      desarrollar confianza al asumir responsabilidad por sus decisiones.
    </h6>
  </div>
  
  <!--sub newspeapers-->
  <div class="center-Zone-Under">
    <div class="under-right">
      <h5 class="tittle-SciencieAndTechnology"> Tecnología</h5>
      <img
        class="img-SciencieAndTechnology"
        src="../../../assets/ciencia.png"
        alt="una mujer y un robot"
      />
      <h6 class="paragraph-SciencieAndTechnology">
        4 rasgos exclusivos de los humanos que resultan imposibles para la
        inteligencia artificial
      </h6>
    </div>
    <div class="under-center">
      <h5 class="tittle-Economy">Economía</h5>
      <img
        class="img-Economy"
        src="../../../assets/economía.png"
        alt="una persona contando dinero en efectivo"
      />
      <h6 class="paragraph-Economy">
        Dólar en Colombia termina la semana a la baja y sobre niveles de los 3.971
        pesos
      </h6>
      
    </div>
    <div class="under-left">
      <h5 class="tittle-Astronomy">Astronomía</h5>
      <img
        class="img-Astronomy"
        src="../../../assets/astronomía.png"
        alt="un cuerpo celeste visto desde un telescopio"
      />
      <h6 class="paragraph-Astronomy">
        Un telescopio capta el enjambre de rocas que dejó un choque de la NASA en
        el espacio
      </h6>
      
    </div>
  </div>
  <!--back and forward buttons-->
  <div>
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
      </ul>
    </nav>
  </div>
  
